{% extends "base.html" %}
{% block marketing %}
        <div id="home-page-marketing" class="row">
            <div id="bricks-hero-unit" class="span6">
                <h1>About Us</h1>
                <img class="img-polaroid visible-phone hero-unit-image" src="http://placehold.it/600x245" />
                <p class="explanation">Sengal was launched in 2013 with the aim of being a responsive business theme built with bootstrap. Duis neque diam, molestie porttitor fringilla eu, interdum eu lorem. Ut sagittis pretium mi, eget sagittis nulla feugiat nec. Sed egestas convallis nunc, vitae consectetur nibh sagittis quis. </p>
            </div>
            <div class="span6 hidden-phone">
                <img class="img-polaroid" src="http://placehold.it/600x245" />
            </div>
        </div><!--home-page-marketing-->
{% endblock %}
{% block content %}
<div id="content" class="container">
    <div class="marketing">
        <h2>Our Services</h2>
        <p class="marketing-byline">Quisque a quam non metus fringilla feugiat quis non sem. Phasellus quis felis sapien, id interdum mi. <a href="services.html">Learn more</a></p>

        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <h2>The Company</h2>
                </div>

                <p>Quisque a mauris ligula, vitae posuere urna. Nullam in magna quam. Vestibulum et varius ligula. Vestibulum ut purus eu nisl consectetur molestie. Praesent lacinia purus eget erat dapibus ut mattis massa pellentesque. Nam hendrerit urna ac est volutpat eu mattis diam sagittis. Nam iaculis nisl felis, et aliquet quam.</p>

                <p>Quisque egestas enim id nibh sodales consequat iaculis odio vulputate. Aenean sed urna erat, sit amet elementum elit. In quis luctus dui. In sagittis, augue eget sollicitudin scelerisque, mi magna egestas augue, a venenatis tortor urna et lacus. Quisque rhoncus libero vitae velit feugiat ut lobortis neque blandit. Proin tristique blandit mi, vitae vulputate leo vestibulum a. In velit metus, vestibulum vel elementum quis, porttitor a est.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porttitor enim ac dolor accumsan accumsan nec ut neque. Ut eget elit et elit semper feugiat molestie eu mauris. Phasellus interdum, sapien sed rhoncus mollis, magna justo ornare urna, a aliquet enim dolor quis felis. Nullam arcu massa, rutrum quis consequat nec, feugiat sed felis. Aliquam nec fermentum ligula. Donec vel euismod nibh. Cras nec nibh ut velit lobortis convallis et quis ipsum.</p>

                <p>Nunc ornare placerat dictum. Maecenas nisl ante, posuere eu egestas eget, pulvinar et odio. Pellentesque vitae neque justo, quis vulputate purus. Praesent sed lorem sollicitudin tellus convallis aliquam et quis est. Nullam imperdiet elit eget nibh adipiscing vitae tincidunt elit ullamcorper. Integer vulputate, nibh in volutpat fringilla, sapien dui mattis tortor, eget dignissim orci urna bibendum sem. Vivamus sed ipsum leo, id laoreet enim. Quisque a mauris ligula, vitae posuere urna. Nullam in magna quam. Vestibulum et varius ligula. Vestibulum ut purus eu nisl consectetur molestie. Praesent lacinia purus eget erat dapibus ut mattis massa pellentesque. Nam hendrerit urna ac est volutpat eu mattis diam sagittis. Nam iaculis nisl felis, et aliquet quam.</p>
            </div>

            <div class="span12">
                <div class="page-header">
                    <h2>The Team</h2>
                </div>
                <ul class="thumbnails media-grid row">
                    <li class="span3">
                        <div class="sengal-thumbnail thumbnail">
                            <img src="http://placehold.it/270x250" />
                            <div class="caption">
                                <h4>John Smith <small>Founder & CEO</small></h4>
                            </div>
                        </div>
                    </li>
                    <li class="span3">
                        <div class="sengal-thumbnail thumbnail">
                            <img src="http://placehold.it/270x250" />
                            <div class="caption">
                                <h4>Dave Smith <small>Director</small></h4>
                            </div>
                        </div>
                    </li>
                    <li class="span3">
                        <div class="sengal-thumbnail thumbnail">
                            <img src="http://placehold.it/270x250" />
                            <div class="caption">
                                <h4>Jane Smith <small>Web Developer</small></h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}