<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head profile="http://gmpg.org/xfn/11">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{page_title}} - Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="../../statics/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="../../statics/css/modern-business.css" rel="stylesheet">
    <link href="../../statics/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
          <a class="navbar-brand" href="/">Yunzlog</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="{{home_active}}"><a href="/home">Home</a></li>
            <li class="{{blog_active}}"><a href="/blog">Blog</a></li>
            <li class="{{wiki_active}}"><a href="/wiki">Wiki</a></li>
			<li class="{{project_active}}"><a href="/project">Project</a></li>
			<li class="{{gallery_active}}"><a href="/gallery">Gallery</a></li>
            <li class="{{about_active}}"><a href="/about">About</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    {% block content %}
	{% endblock %}

    <div class="container">
      <hr>
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>&copy; Yunzlog 2014
			 <a href="http://www.appspot.com">
		      <img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" />
	          </a>
            </p>
          </div>
        </div>
      </footer>
    </div><!-- /.container -->

    <!-- JavaScript -->
    <script src="../../statics/js/jquery-1.10.2.js"></script>
    <script src="../../statics/js/bootstrap.js"></script>
    <script src="../../statics/js/modern-business.js"></script>

  </body>
</html>
