{% extends "base.html" %}
{% block content %}
<div id="content">
    <div class="container">
        <div id="blog" class="row">
            <div class="span7">
                <div class="page-header">
                    <h1>{{_("Blog")}}</h1>
                </div>
                {% if articles %}
                {% for article in articles %}
                <div class="entry">
                    <h2 class="entry-title"><a href="/blog/{{article.archive}}/{{article.postid}}">{{article.title}}</a></h2>

                    <p class="entry-meta">
                        <span class="entry-author"><i class="icon-user"></i>{{article.author}}</span>
                        <span class="entry-date"><i class="icon-calendar"></i>{{article.date}}</span>
                        <span class="entry-comments"><i class="icon-comments"></i> 3 Comments</span>
                    </p>
                    <div class="entry-content">
                        <p>{{article.summary|safe}}</p>
                        <p><a href="href="/blog/{{article.archive}}/{{article.postid}}"">{{_("Read More")}}</a></p>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                    <h2 class="entry-title"> No content,please edit and post first.</h2>
                {% endif %}

                <div class="sengal-pagination pagination">
                    <ul>
                    {% if newer %}<li class="previous"><a href="/blog?page={{newer}}">&larr;Newer </a></li>{% endif %}
                    {% if older %}<li class="next"><a href="/blog?page={{older}}"> Older&rarr;</a></li>{% endif %}
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="span1 hidden-phone"></div>
            <div class="span4">
                <div class="sidebar-widget">
                    <h3>Archives</h3>
                    <ul class="sidebar-list">
                        <li><a href="blog.html">October 2012</a></li>
                        <li><a href="blog.html">September 2012</a></li>
                        <li><a href="blog.html">April 2012</a></li>
                        <li><a href="blog.html">March 2012</a></li>
                    </ul>
                </div>

                <div class="sidebar-widget">
                    <h3>Categories</h3>
                    <ul class="sidebar-list">
                        <li><a href="blog.html">Events</a></li>
                        <li><a href="blog.html">Web Desigining</a></li>
                        <li><a href="blog.html">PHP &amp; MySql</a></li>
                    </ul>
                </div>


                <div class="sidebar-widget">
                    <h3>Recent Posts</h3>
                    <ul class="sidebar-list">
                        <li><a href="single.html">In quis luctus dui</a></li>
                        <li><a href="single.html">Morbi in lorem in libero volutpat sagittis</a></li>
                        <li><a href="single.html">Etiam eleifend pretium diam, in ullamcorper enim faucibus ac</a></li>
                        <li><a href="single.html">Pellentesque habitant morbi tristique senectus et netus et malesuada fames</a></li>
                    </ul>
                </div>

                <div class="sidebar-widget">
                    <h3>Subscribe to our Newsletter</h3>
                    <p style="padding-top: 10px">Be informed about our latest posting. Subscribe to our blog post.</p>
                    <p>
                    <form />
                        <div class="input-append">
                            <input type="text" placeholder="Enter your Email" />
                            <button class="btn btn-primary">Subscribe</button>
                        </div>
                    </form>
                    </p>
                </div>

                <div class="sidebar-widget">
                    <h3>Find us on Facebook</h3>
                    <div class="cleafix" style="margin-top: 10px;">
                        <!-- <iframe src="//www.facebook.com/plugins/likebox.html?href=http%3A%2F%2Fwww.facebook.com%2Fpremium.wp.themes.directory&amp;width=292&amp;height=258&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=false&amp;appId=185650951579191" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:258px;" allowtransparency="true"></iframe>-->
                    </div>
                </div>            </div>
        </div>
    </div>
</div>
{% endblock %}