{% extends "base.html" %}
{% block content %}
    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">Blog Home 1 <small>Blog Homepage</small></h1>
          <ol class="breadcrumb">
            <li><a href="/home">{{_("Home")}}</a></li>
            <li class="active">{{_("Blog")}}</li>
          </ol>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-8">
		  {% if articles %}
		    {% for article in articles %}

			  <h1><a href="{{article.url}}">aaa{{article.title}}</a></h1>
			  <p class="lead">by <a href="#">Start Bootstrap</a></p>
			  <hr>
			    <p>
				  <i class="fa fa-clock-o"></i> {{_("Posted on")}} {{article.date}}
				  <i class="fa fa-search"></i>{{article.read}} {{_("Read")}}
				  <i class="fa fa-pencil">{{_("Author")}} {{article.author}}</i>
			    </p>
			  <hr>
			  <a href="{{article.url}}">
			    <img src="http://placehold.it/900x300" class="img-responsive">
			  </a>
			  <hr>
			  <p>{{article.summary|safe}}</p>
			  <a class="btn btn-primary" href="{{article.url}}">{{_("Read More")}}<i class="fa fa-angle-right"></i></a>

			  <hr>
		    {% endfor %}
		  {% endif %}
			  <ul class="pager">
				<li class="previous"><a href="#">&larr; Older</a></li>
				<li class="next"><a href="#">Newer &rarr;</a></li>
			  </ul>

        </div>

        <div class="col-lg-4">
          <div class="well">
            <h4>{{_("Blog Search")}}</h4>
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /well -->
          <div class="well">
            <h4>Popular Blog Categories</h4>
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled">
                    <li><a href="#dinosaurs">Dinosaurs</a></li>
                    <li><a href="#spaceships">Spaceships</a></li>
                    <li><a href="#fried-foods">Fried Foods</a></li>
                    <li><a href="#wild-animals">Wild Animals</a></li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled">
                    <li><a href="#alien-abductions">Alien Abductions</a></li>
                    <li><a href="#business-casual">Business Casual</a></li>
                    <li><a href="#robots">Robots</a></li>
                    <li><a href="#fireworks">Fireworks</a></li>
                  </ul>
                </div>
              </div>
          </div><!-- /well -->
          <div class="well">
            <h4>Side Widget Well</h4>
            <p>Bootstrap's default well's work great for side widgets! What is a widget anyways...?</p>
          </div><!-- /well -->
        </div>
      </div>

    </div><!-- /.container -->
{% endblock %}