{% extends "base.html" %}
{% block marketing %}
        <div id="home-page-marketing" class="row">
            <div id="bricks-hero-unit" class="span6">
                <h1>A weblog implemented with jinja2 and webapp2.</h1>
                <img src="statics/img/responsive-layout.png" class="visible-phone hero-unit-image" />
                <p class="explanation">'yunzlog' meaning blog in cloud with lightness rapid and lots of perfect features, short and sweet, simple and quick. It means song of cloud in chinese too.</p>
                <p class="action-buttons-container"><a class="btn btn-primary btn-large" href="https://github.com/z2care/yunzlog/tree/feature">Download on GitHub</a></p>
            </div>
            <div class="span6 hidden-phone">
                <img src="statics/img/responsive-layout.png" />
            </div>
        </div><!--home-page-marketing-->
{% endblock %}
{% block content %}
<div id="content" class="container">
    <div class="marketing">
        <h2>Top 3 Projects</h2>
        <p class="marketing-byline">These projects are my extracurricular practice works, if you are interested in them, welcome to join. <a href="/project">find more</a></p>

        <div class="row">
            <div class="span4">
                <i class="icon-github service-icon"></i>
                <h3>Yunzlog</h3>
                <p>qurey project from top3 list,show summary here.</p>
            </div>
            <div class="span4">
                <i class="icon-github service-icon"></i>
                <h3>DP4Py</h3>
                <p>qurey project from top3 list,show summary here.</p>
            </div>
            <div class="span4">
                <i class="icon-github service-icon"></i>
                <h3>DS4Py</h3>
                <p>qurey project from top3 list,show summary here.</p>
            </div>
        </div>

        <hr class="soften" />

        <h2>The moment, looky here!</h2>
        <p class="marketing-byline">By living your life one day at a time, you live all the days of your life. <a href="/gallery">More photos</a></p>
        <ul id="latest-projects" class="thumbnails portfolio">
            <li class="span3">
                <a href="portfolio.html">
                    <img class="sengal-thumbnail thumbnail" alt="Portfolio Item" src="http://placehold.it/300x250" />
                </a>
            </li>
            <li class="span3">
                <a href="portfolio.html">
                    <img class="sengal-thumbnail thumbnail" alt="Portfolio Item" src="http://placehold.it/300x250" />
                </a>
            </li>
            <li class="span3">
                <a href="portfolio.html">
                    <img class="sengal-thumbnail thumbnail" alt="Portfolio Item" src="http://placehold.it/300x250" />
                </a>
            </li>
            <li class="span3">
                <a href="portfolio.html">
                    <img class="sengal-thumbnail thumbnail" alt="Portfolio Item" src="http://placehold.it/300x250" />
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}