{% extends "base.html" %}
{% block marketing %}
        <div id="home-page-marketing" class="row">
            <div id="bricks-hero-unit" class="span6">
                <h1>Services</h1>
                <img src="statics/img/responsive-layout.png" class="visible-phone hero-unit-image" />
                <p class="explanation">Donec non ultricies est. Vestibulum porta odio justo, et tincidunt metus. Cras dictum laoreet nibh, nec tempus tortor porta vel. Cras risus purus, porttitor sed condimentum ac, scelerisque quis ipsum. Donec posuere tincidunt nisl vitae facilisis. Nam pharetra elit ut lacus feugiat eget cursus leo blandit.</p>
                <p class="action-buttons-container"><a class="btn btn-primary btn-large">Get in touch with us</a></p>
            </div>
            <div class="span6 hidden-phone">
                <img src="statics/img/responsive-layout.png" />
            </div>
        </div>
    </div>
</div>

<div id="content" class="container">
    <div class="marketing">
        <h2>What we do</h2>
        <p class="marketing-byline">Quisque a quam non metus fringilla feugiat quis non sem. Phasellus quis felis sapien, id interdum mi.</p>

        <div id="services-list" class="row">
            <div class="span4">
                <div class="media">
                    <i class="icon-cogs pull-left services-icon"></i>
                    <div class="media-body">
                        <h3>Consulting</h3>
                        <p class="service-explanation">In in tellus a ante dignissim aliquet. Phasellus odio nisi, hendrerit vel faucibus ac, iaculis et metus. Nulla ac suscipit quam.</p>
                    </div>
                </div>
                <div class="media">
                    <i class="icon-bullhorn pull-left services-icon"></i>
                    <div class="media-body">
                        <h3>Technology</h3>
                        <p class="service-explanation">In in tellus a ante dignissim aliquet. Phasellus odio nisi, hendrerit vel faucibus ac, iaculis et metus. Nulla ac suscipit quam.</p>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="media">
                    <i class="icon-dashboard pull-left services-icon"></i>
                    <div class="media-body">
                        <h3>Outsourcing</h3>
                        <p class="service-explanation">In in tellus a ante dignissim aliquet. Phasellus odio nisi, hendrerit vel faucibus ac, iaculis et metus. Nulla ac suscipit quam.</p>
                    </div>
                </div>
                <div class="media">
                    <i class="icon-magic pull-left services-icon"></i>
                    <div class="media-body">
                        <h3>Web Designing</h3>
                        <p class="service-explanation">In in tellus a ante dignissim aliquet. Phasellus odio nisi, hendrerit vel faucibus ac, iaculis et metus. Nulla ac suscipit quam.</p>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="media">
                    <i class="icon-umbrella pull-left services-icon"></i>
                    <div class="media-body">
                        <h3>Online Marketing</h3>
                        <p class="service-explanation">In in tellus a ante dignissim aliquet. Phasellus odio nisi, hendrerit vel faucibus ac, iaculis et metus. Nulla ac suscipit quam.</p>
                    </div>
                </div>
                <div class="media">
                    <i class="icon-wrench pull-left services-icon"></i>
                    <div class="media-body">
                        <h3>Application Development</h3>
                        <p class="service-explanation">In in tellus a ante dignissim aliquet. Phasellus odio nisi, hendrerit vel faucibus ac, iaculis et metus. Nulla ac suscipit quam.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}