<!DOCTYPE html>
<html>
<head>
    <title>Single Blog Post | Sengal</title>
    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="css/style.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:600' rel='stylesheet' type='text/css' />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

<div id="header" class="no-middle-bar">
    <div class="container">
        <div id="logo-nav-container" class="row">
            <div class="span12">
                <div id="top-left-nav" class="navbar">
                    <h1 id="logo" class="brand"><a href="index.html">Sengal <small>business theme</small></a></h1>
                    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-reorder"></span>
                    </a>
                    <div class="nav-collapse collapse">
                        <ul id="bricks-nav" class="nav nav-pills pull-right">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="about.html">About</a></li>
                            <li class="active"><a href="blog.html">Blog</a></li>
                            <li><a href="portfolio.html">Portfolio</a></li>
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="portfolio.html">Pages <b class="caret"></b></a><ul class="dropdown-menu"><li><a href="single.html">Blog Post</a></li><li><a href="sliding-home.html">Sliding Home Page</a></li><li><a href="services.html">Services</a></li></ul></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>        </div>
    </div>
</div>

<div id="content" class="container">
    <div>
        <div id="blog" class="row-fluid">
            <div class="span7">
                <div class="page-header">
                    <p class="entry-meta">
                        <span class="entry-author"><i class="icon-user"></i> John Smith</span>
                        <span class="entry-date"><i class="icon-calendar"></i> December 24, 2012</span>
                        <span class="entry-comments"><i class="icon-comments"></i> 3 Comments</span>
                    </p>
                    <h2>Pellentesque habitant morbi tristique senectus et fames</h2>
                </div>


                <div class="entry-content">
                    <p>Duis neque diam, molestie porttitor fringilla eu, interdum eu lorem. Ut sagittis pretium mi, eget sagittis nulla feugiat nec. Sed egestas convallis nunc, vitae consectetur nibh sagittis quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.. Sed egestas convallis nunc, vitae consectetur nibh sagittis quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porttitor enim ac dolor accumsan accumsan nec ut neque. Ut eget elit et elit semper feugiat molestie eu mauris. Phasellus interdum, sapien sed rhoncus mollis, magna justo ornare urna, a aliquet enim dolor quis felis. Nullam arcu massa, rutrum quis consequat nec, feugiat sed felis. Aliquam nec fermentum ligula. Donec vel euismod nibh. Cras nec nibh ut velit lobortis convallis et quis ipsum.</p>

                    <p>Nunc ornare placerat dictum. Maecenas nisl ante, posuere eu egestas eget, pulvinar et odio. Pellentesque vitae neque justo, quis vulputate purus. Praesent sed lorem sollicitudin tellus convallis aliquam et quis est. Nullam imperdiet elit eget nibh adipiscing vitae tincidunt elit ullamcorper. Integer vulputate, nibh in volutpat fringilla, sapien dui mattis tortor, eget dignissim orci urna bibendum sem. Vivamus sed ipsum leo, id laoreet enim. Quisque a mauris ligula, vitae posuere urna. Nullam in magna quam. Vestibulum et varius ligula. Vestibulum ut purus eu nisl consectetur molestie. Praesent lacinia purus eget erat dapibus ut mattis massa pellentesque. Nam hendrerit urna ac est volutpat eu mattis diam sagittis. Nam iaculis nisl felis, et aliquet quam.</p>

                    <p>Quisque egestas enim id nibh sodales consequat iaculis odio vulputate. Aenean sed urna erat, sit amet elementum elit. In quis luctus dui. In sagittis, augue eget sollicitudin scelerisque, mi magna egestas augue, a venenatis tortor urna et lacus. Quisque rhoncus libero vitae velit feugiat ut lobortis neque blandit. Proin tristique blandit mi, vitae vulputate leo vestibulum a. In velit metus, vestibulum vel elementum quis, porttitor a est.</p>

                    <p>Nunc consectetur, nunc vel mollis consectetur, ligula quam dignissim nisl, at lacinia eros eros in nunc. Vivamus rutrum malesuada libero, a dictum lacus porta ultricies. Vestibulum vitae lorem leo, ac bibendum est. Sed massa libero, vulputate at consectetur vel, pharetra sit amet quam. Duis neque diam, molestie porttitor fringilla eu, interdum eu lorem. Ut sagittis pretium mi, eget sagittis nulla feugiat nec. Sed egestas convallis nunc, vitae consectetur nibh sagittis quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie sollicitudin tortor ut gravida. Etiam eleifend pretium diam, in ullamcorper enim faucibus ac.</p>
                </div>

                <div class="entry-comments">
                    <h3>3 Comments</h3>
                    <ul id="comments-list">
                        <li class="comment media">
                            <img src="http://placehold.it/75x75" class="img-polaroid pull-left" />
                            <div class="media-body">
                                <h4 class="comment-author">John Smith <small> on December 25, 2012</small></h4>
                                <div class="comment-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie sollicitudin tortor ut gravida. Etiam eleifend pretium diam, in ullamcorper enim faucibus ac.</p>
                                    <p>Integer eu aliquet massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus porttitor facilisis volutpat. Nulla tortor eros, convallis nec commodo ac, egestas in lacus.</p>
                                </div>
                            </div>
                        </li>
                        <li class="comment media">
                            <img src="http://placehold.it/75x75" class="img-polaroid pull-left" />
                            <div class="media-body">
                                <h4 class="comment-author">John Smith <small> on December 25, 2012</small></h4>
                                <div class="comment-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie sollicitudin tortor ut gravida. Etiam eleifend pretium diam, in ullamcorper enim faucibus ac.</p>
                                    <p>Integer eu aliquet massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus porttitor facilisis volutpat. Nulla tortor eros, convallis nec commodo ac, egestas in lacus.</p>
                                </div>
                            </div>
                        </li>
                        <li class="last-comment comment media">
                            <img src="http://placehold.it/75x75" class="img-polaroid pull-left" />
                            <div class="media-body">
                                <h4 class="comment-author">John Smith <small> on December 25, 2012</small></h4>
                                <div class="comment-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie sollicitudin tortor ut gravida. Etiam eleifend pretium diam, in ullamcorper enim faucibus ac.</p>
                                    <p>Integer eu aliquet massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus porttitor facilisis volutpat. Nulla tortor eros, convallis nec commodo ac, egestas in lacus.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="add-a-comment-form">
                    <h3>Add Comment</h3>

                    <div class="row-fluid">
                        <div class="span8">
                            <form class="sengal-form" />
                                <div class="control-group">
                                    <label>Your Name</label>
                                    <input type="text" class="input-block-level" />
                                </div>

                                <div class="control-group">
                                    <label>Email</label>
                                    <input type="text" class="input-block-level" />
                                </div>
                                <div class="control-group">
                                    <label>Website</label>
                                    <input type="text" class="input-block-level" />
                                </div>
                                <div class="control-group">
                                    <label>Message</label>
                                    <textarea rows="5" cols="5" class="input-block-level"></textarea>
                                </div>
                                <div class="control-group">
                                    <button class="btn btn-primary btn-large"><i class="icon-edit"></i> Add Comment</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
            <div class="span1"></div>
            <div class="span4">

                <div class="sidebar-widget">
                    <h3>Archives</h3>
                    <ul class="sidebar-list">
                        <li><a href="blog.html">October 2012</a></li>
                        <li><a href="blog.html">September 2012</a></li>
                        <li><a href="blog.html">April 2012</a></li>
                        <li><a href="blog.html">March 2012</a></li>
                    </ul>
                </div>

                <div class="sidebar-widget">
                    <h3>Categories</h3>
                    <ul class="sidebar-list">
                        <li><a href="blog.html">Events</a></li>
                        <li><a href="blog.html">Web Desigining</a></li>
                        <li><a href="blog.html">PHP &amp; MySql</a></li>
                    </ul>
                </div>


                <div class="sidebar-widget">
                    <h3>Recent Posts</h3>
                    <ul class="sidebar-list">
                        <li><a href="single.html">In quis luctus dui</a></li>
                        <li><a href="single.html">Morbi in lorem in libero volutpat sagittis</a></li>
                        <li><a href="single.html">Etiam eleifend pretium diam, in ullamcorper enim faucibus ac</a></li>
                        <li><a href="single.html">Pellentesque habitant morbi tristique senectus et netus et malesuada fames</a></li>
                    </ul>
                </div>

                <div class="sidebar-widget">
                    <h3>Subscribe to our Newsletter</h3>
                    <p style="padding-top: 10px">Be informed about our latest posting. Subscribe to our blog post.</p>
                    <p>
                    <form />
                        <div class="input-append">
                            <input type="text" placeholder="Enter your Email" />
                            <button class="btn btn-primary">Subscribe</button>
                        </div>
                    </form>
                    </p>
                </div>

                <div class="sidebar-widget">
                    <h3>Find us on Facebook</h3>
                    <div class="cleafix" style="margin-top: 10px;">
                        <iframe src="//www.facebook.com/plugins/likebox.html?href=http%3A%2F%2Fwww.facebook.com%2Fpremium.wp.themes.directory&amp;width=292&amp;height=258&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=false&amp;appId=185650951579191" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:258px;" allowtransparency="true"></iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h4>From the Blog</h4>
                <ul id="from-the-blog" class="unstyled">
                    <li><p><a href="#">Vestibulum risus lorem, molestie quis placerat sit amet, pellentesque vel eros</a></p></li>
                    <li><p><a href="#">In tortor ante, aliquam in vulputate non</a></p></li>
                    <li><p><a href="#">Suspendisse non tellus augue, sit amet convallis purus</a></p></li>
                    <li><p><a href="#">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur porta pharetra laoreet.</a></p></li>
                </ul>
            </div>
            <div class="span4">
                <h4>Subscribe to our newsletter</h4>
                <form />
                    <div class="input-append">
                        <input type="text" class="span3" placeholder="Enter your Email Address" />
                        <button type="submit" class="btn btn-primary">Subscribe</button>
                    </div>

                </form>

                <h4>Our Fan Following</h4>
                <div id="social-following">
                    <p>
                        <span class="social-item"><i class="icon-facebook"></i> <span class="number">29,053</span></span>
                        <span class="social-item"><i class="icon-twitter"></i> <span class="number">1,777</span></span>
                        <span class="social-item"><i class="icon-rss"></i> <span class="number">2,345</span></span>
                    </p>
                </div>
            </div>
            <div class="span4">
                <h4>Stay in touch</h4>
                <ul id="social-icons" class="unstyled nav-pills">
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-google-plus"></i></a></li>
                    <li><a href="#"><i class="icon-pinterest"></i></a></li>
                    <li><a href="#"><i class="icon-linkedin"></i></a></li>
                    <li><a href="#"><i class="icon-envelope"></i></a></li>
                </ul>
                <h4 style="margin-bottom: 12px;">Our Office Address</h4>
                <address>
                    27 Name of the Office Building, <br />
                    Your Street, The City <br />
                    United States of America <br />
                    <i class="icon-phone"></i> + 1-555-563-3434
                </address>
            </div>
        </div>
        <div class="row">
            <div id="copyright">
                <div class="span6 pull-left"><p>Copyright &copy; 2014.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p></div>
                <div class="span6">
                    <ul class="unstyled nav-pills pull-right">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js"></script>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>