{% extends "base.html" %}
{% block content %}
    <div class="container">
      
      <div class="row">
      
        <div class="col-lg-12">
          <h1 class="page-header">{{_("BlogType")}} <small>{{_("PageClass")}}</small></h1>
          <ol class="breadcrumb">
            <li><a href="/home">{{_("Home")}}</a></li>
            <li class="active">{{_("Blog")}}</li>
          </ol>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-8">
        
          <!-- the actual blog post: title/author/date/content -->
          <hr>
          <p>{% for tag in article[0].tags %}
                  <button type="button" class="btn btn-xs" onclick="location.href='/blog/tag/{{tag}}';">{{ tag }}</button>
             {% endfor %}
          <i class="fa fa-clock-o"></i> {{_("Posted on")}} {{article[0].date}}
          <i class="fa fa-search"></i>{{article[0].read}} {{_("Read")}}
          <i class="fa fa-pencil">{{_("Author")}} {{article[0].author}}</i>
          </p>
          <h2>{{article[0].title}}</h2>
          <hr>
          <p>{{article[0].content|safe}}</p>
          <p><strong>More link:</strong></p>
          <ul>
            <li><a href="http://www.google.com.hk/">Google</a></li>
            <li><a href="http://www.sogou.com/">Sogou</a></li>
            <li><a href="http://www.360.cn/">360</a></li>
          </ul>

          <hr>

          <!-- the comment box -->
          <div class="well">
            <h4>Leave a Comment:</h4>
            <form role="form" action="/blog/comment">
              <div class="row">
                <div class="col-lg-2">
                  <input class="form-control" name="name" placeholder="{{_('Name')}}">
                </div>
                <div class="col-lg-4">
                  <input class="form-control" name="email" placeholder="{{_('Email')}}">
                </div>
              </div>
              <br>
              <div class="form-group">
                <input type="hidden" value="{{article[0].key.id()}}" id="keyid"/>
                <textarea class="form-control" rows="4" id="cmtext" ></textarea>
              </div>
              <div>
              <button type="submit" class="btn btn-primary" id="submit">Submit</button>
            </form>
          </div>
          
          <hr>

          <!-- the comments -->
          <div id="comments">
            {% if comments %}
              {% for comment in comments %}
                 <h3>{{ comment.author }} <small>{{comment.date}}</small></h3>
                 <p>{{comment.content}}</p>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        
        <div class="col-lg-4">
          <div class="well">
            <h4>Blog Search</h4>
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /well -->
          <div class="well">
            <h4>Popular Blog Categories</h4>
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled">
                    <li><a href="#dinosaurs">Dinosaurs</a></li>
                    <li><a href="#spaceships">Spaceships</a></li>
                    <li><a href="#fried-foods">Fried Foods</a></li>
                    <li><a href="#wild-animals">Wild Animals</a></li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled">
                    <li><a href="#alien-abductions">Alien Abductions</a></li>
                    <li><a href="#business-casual">Business Casual</a></li>
                    <li><a href="#robots">Robots</a></li>
                    <li><a href="#fireworks">Fireworks</a></li>
                  </ul>
                </div>
              </div>
          </div><!-- /well -->
          <div class="well">
            <h4>Side Widget Well</h4>
            <p>Bootstrap's default well's work great for side widgets! What is a widget anyways...?</p>
          </div><!-- /well -->
        </div>
      </div>
      <script type="text/javascript">
         $(document).ready(
            function() {
               $("#submit").click(
                  function() {
                      $.ajax({
                        url: "/blog/comment",
                        type: 'POST',
                        data: {cmtext: $("#cmtext").val(),keyid: $("#keyid").val()},
                        success: function(response) {
                          $( response ).prependTo( "#comments" );
                        },
                      });
                      return false;
                  }
               );
            }
         );
      </script>
    </div><!-- /.container -->
{% endblock %}