<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
    <hr>
    <form action="/admin" method="post">
    Site Config:<input type="submit" value="modify"><br>
      site_title<input value="{{ siteconfig.title }}" name="title"><br>
      site_author<input value="{{ siteconfig.author }}" name="author"><br>
      site_datetime<input value="{{ siteconfig.date }}" name="date"><br>
      hello<input value="{{ sitewelcome.words }}" name="words"><br>
      is_show<input value="{{ sitewelcome.is_show }}" name="is_show"><br>
    </form>
    <hr>
  </body>
</html>
{% endautoescape %}