<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
    <hr>
    <form action="/admin" method="post">
    Site Config:<input type="submit" value="modify"><br>
      site_title<input value="{{ siteconfig.title }}" name="title"><br>
      site_author<input value="{{ siteconfig.author }}" name="author"><br>
      site_datetime<input value="{{ siteconfig.date }}" name="date"><br>
      hello<input value="{{ sitewelcome.words }}" name="words"><br>
      {% if sitewelcome.is_show %}
      <label for="no">No</label><input type="radio" name="is_show" id="no" value="False" />
      <label for="yes">Yes</label><input type="radio" name="is_show" id="yes" value="True" CHECKED/>
      {% else %}
      <label for="no">No</label><input type="radio" name="is_show" id="no" value="False" CHECKED/>
      <label for="yes">Yes</label><input type="radio" name="is_show" id="yes" value="True" />
      {% endif %}
    </form>
    <hr>
  </body>
</html>
{% endautoescape %}