    <div id="box">
      <h1>Web App Theme</h1>
      <div class="block" id="block-login">
        <h2>Login Box</h2>
        <div class="content login">
          <div class="flash">
            <div class="message notice">
              <p>Logged in successfully</p>
            </div>
          </div>
          <form action="#" class="form login">
            <div class="group wat-cf">
              <div class="left">
                <label class="label right">Login</label>
              </div>
              <div class="right">
                <input type="text" class="text_field" />
              </div>
            </div>
            <div class="group wat-cf">
              <div class="left">
                <label class="label right">Password</label>
              </div>
              <div class="right">
                <input type="password" class="text_field" />
              </div>
            </div>
            <div class="group navform wat-cf">
              <div class="right">
                <button class="button" type="submit">
                  <img src="statics/img/icons/key.png" alt="Save" /> Login
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="block" id="block-signup">
        <h2>Sign up</h2>
        <div class="content">
          <form action="#" class="form">
            <div class="group wat-cf">
              <div class="left">
                <label class="label">Login</label>
              </div>
              <div class="right">
                <input type="text" class="text_field" />
                <span class="description">Ex: web-app-theme</span>
              </div>
            </div>
            <div class="group wat-cf">
              <div class="left">
                <label class="label">Email</label>
              </div>
              <div class="right">
                <input type="text" class="text_field" />
                <span class="description">Ex: test@example.com</span>
              </div>
            </div>
            <div class="group wat-cf">
              <div class="left">
                <label class="label">Password</label>
              </div>
              <div class="right">
                <input type="password" class="text_field" />
                <span class="description">Must contains the word 'yeah'</span>
              </div>
            </div>

            <div class="group">
              <label class="label">Text field</label>
              <input type="text" class="text_field" />
              <span class="description">Ex: a simple text</span>
            </div>
            <div class="group">
              <label class="label">Text field</label>
              <input type="text" class="text_field" />
              <span class="description">Ex: a simple text</span>
            </div>
            <div class="group navform wat-cf">
              <button class="button" type="submit">
                <img src="statics/img/icons/tick.png" alt="Save" /> Signup
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>